body {
  display: flex;
  justify-content: center;
}

.container,
.search {
  max-width: 420px;
  background-color: #fff;
}

.container {
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    min-width: 440px;
    max-width: 990px;
  }

  .search {
    margin: 0 auto;
    max-width: 938px;
  }
}

.pagination {
  max-width: 380px;
  margin: 0 auto;
}
